{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vincent Kimanthi</title>
    

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link href="{% static '/CSS/main.css' %}" rel="stylesheet" type="text/css">

     <style>
        body{
            background-color: #F8F8F8!important;
        }
        #profile-wrapper {
            text-align: center;
            border: 2px solid rgb(0, 255, 76); /* Debugging style */
        }
    
        #profile-pic {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-right: auto;
            border: 5px solid green; /* Debugging style */
        }
        .social-links ul, li{
            list-style-type: none;
            display: inline-block;
            
        }
        .social{
            width: 30px;
            height: 30px;
        }
    </style>
    

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/Sheila.JPEG' %}" alt="">
                    <br>
                    <h4>Hi I'm Sheila!</h4>
                    <p>I love coding, doing research and collaborating</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body" id="profile-wrapper h-100">
                    <h4>My First Job as a Developer</h4>
                    <br>
                    <p>It was was a transformative experience that marked the 
                        beginning of my professional journey in software development. 
                        In this role, I worked as part of a collaborative team, 
                        contributing to the design, development, and deployment of web-based applications.</p>

                        <p>This position allowed me to refine my skills in 
                        [insert technologies/tools you worked with, e.g., HTML, CSS, JavaScript, Python,
                         Django, etc.] and gain hands-on experience in the full software development lifecycle.
                         This role not only helped me grow technically but also instilled in me the importance of teamwork, 
                         problem-solving, and continuous learning. It laid a solid foundation for my career as a developer.</p>

                         <ul class="social-links">
                            <li><a href="https://www.instagram.com/kim._vin/" target="_blank"><img class="social" src="{% static 'images/insta.JPEG' %}" alt="Instagram"></a></li>
                            <li><a href="https://www.facebook.com/vinie.tito.1/" target="_blank"><img class="social" src="{% static 'images/facebook.JPEG' %}" alt="Facebook"></a></li>
                            <li><a href="https://x.com/parody_vin" target="_blank"><img class="social" src="{% static 'images/twitter.JPEG' %}" alt="Twitter"></a></li>
                            <li><a href="https://www.linkedin.com/in/vincent-kimanthi-58ba99207/" target="_blank"><img class="social" src="{% static 'images/linkedin.JPEG' %}" alt="LinkedIn"></a></li>
                            <li><a href="https://www.linkedin.com/in/vincent-kimanthi-58ba99207/" target="_blank"><img class="social" src="{% static 'images/email.JPEG' %}" alt="Email"></a></li>
                        </ul>
                        
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>My Experience as a Developer</h5>
                    <br>
                    <p>has been a journey of continuous growth, learning, and innovation. Over time, I have honed my skills in 
                        various technologies, from front-end frameworks like HTML, CSS, and JavaScript to back-end technologies 
                        like Python, Django, and MySQL. Each project I’ve worked on has offered unique challenges, whether it 
                        involved building responsive user interfaces, creating efficient APIs, or integrating complex databases.</p>
                    <p>What stands out most about this journey is the collaborative nature of development. 
                        Working in teams has taught me the value of clear communication, version control systems like Git, 
                        and agile methodologies. Beyond the technical aspects, I’ve learned the importance of understanding user needs,
                         which drives the creation of solutions that are not only functional but also impactful.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>What I Know</h5>
                    <br>
                    <p>Over the course of my learning and experience, I have developed a strong foundation in both front-end and 
                        back-end development. On the front-end, I am proficient in HTML, CSS, and JavaScript, and I can create 
                        responsive and visually appealing user interfaces. My experience also extends to using frameworks like 
                        Bootstrap to enhance the design and functionality of web pages.</p>
                    <p>On the back-end, I have a solid understanding of Python and have worked extensively with Django to build 
                        scalable and secure web applications. I am skilled in database management using MySQL, where I can design 
                        schemas, write complex queries, and perform CRUD operations. I also have experience in using Node.js and 
                        Express for API development and integrating the back-end with the front-end.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>How i Learn</h5>
                    <br>
                    <p>My learning process as a developer is rooted in curiosity, persistence, and a hands-on approach. 
                        I start by exploring foundational concepts through documentation, tutorials, and courses. I make use of 
                        platforms like Coursera, Khan Academy, and YouTube to build a strong theoretical understanding of the 
                        technologies I work with.</p>
                    <p>I believe in learning by doing. I apply concepts immediately by building small projects or solving real-world 
                        problems. This approach helps me understand how things work in practical scenarios, reinforcing my knowledge 
                        through experience.</p>
                    <p>Collaboration is another key aspect of how I learn. Engaging with fellow developers through forums, hackathons, 
                        and open-source projects exposes me to different perspectives and best practices. Asking questions, seeking 
                        feedback, and participating in discussions have greatly enriched my understanding.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>My Short-Term Goals</h5>
                    <br>
                    <p><h4>1. Enhance My Technical Skills</h4>I aim to deepen my understanding of key technologies, particularly
                         in web development, backend systems, and database management. My focus is on mastering tools like Django,
                          Node.js, and MySQL to build more robust and scalable applications.</p>
                        <p><h4>2. Complete Current Projects</h4>I am committed to successfully completing the telemedicine and 
                            education platform projects I am currently working on. 
                            These projects will not only enhance my portfolio but also showcase my ability to solve real-world 
                            problems through technology.</p>
                </div>
            </div>
        </div>
        <br>
    </div>
    
</body>
</html>